packages/
bin/
obj/
stravarage_2018.v12.suo
stravarage_2018/stravarage_2018.csproj.user
stravarage_2018/tmp/*.xlsx
stravarage_2018/tmp/*.png
stravarage_2018/tmp/*.jpg
stravarage_2018/tmp/*.jpeg
stravarage_2018/tmp/*.ppt
stravarage_2018/tmp/*.pptx
stravarage_2018/tmp/*.pdf
.vs/config/applicationhost.config
.vs/stravarage_2018/v14/.suo
*.suo
/.vs/stravarage_2018/v15/sqlite3/storage.ide
/.vs/stravarage_2018/v15/Server/sqlite3
/.vs/stravarage_2018/v15/sqlite3/storage.ide-wal
/.vs/stravarage_2018/v15/sqlite3/storage.ide-shm
/.vs/stravarage_2018/v15/sqlite3/db.lock
stravarage_2018.Tests/stravarage_2018.Tests.csproj.user
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite-journal
*.dtbcache
